::ng-deep .table > :not(caption) > * > * {
     background-color:transparent !important;
}

::ng-deep .p-calendar input {
    width: 200px;
    padding: 0.375rem 0.75rem;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
::ng-deep .p-button {
    color: #ffffff;
    background: #3B82F6;
    width:83px;
    border: 1px solid #3B82F6;
    padding: 5px;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
    outline-color: transparent;
}

  .horizontal-header {
    text-align: center;
  }

  .horizontal-data {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .p-table thead th,
  .p-table tbody td {
    vertical-align: middle; /* Keep vertical alignment for all other cells */
  }


