
<div class="row">
        <div class="col-md-12 mt-3 d-flex justify-content-center">
          <p-calendar 
          [(ngModel)]="year" 
          view="month" 
          dateFormat="MM - yy" 
          [readonlyInput]="true"
          (ngModelChange)="getFormValue()"
        /> 
        </div>

</div>



<div class="row mt-5">
    <p-table #dataTable [value]="workTotalHour" class="table table-wrap table-striped table-hover">
        <!-- SEARCH BAR -->
        <ng-template pTemplate="caption">
            <div class="row align-items-center">
                <div class="col-3">
                 Employee Name: {{ employeeDataAttendanceSheet?.firstName }} {{ employeeDataAttendanceSheet?.lastName }}
                </div>
                <div class="col-3">
                  Salary: {{ employeeDataAttendanceSheet?.monthlySalary | currency:'INR' }}
                </div>
                <!-- Uncomment this if you need the Back button -->
                <!-- <div class="col-4 text-end" style="margin-top: -20px;">
                  <p-button label="Back" [style]="{ 'border-radius': '10px' }" (click)="BackEmployeePage()"></p-button>
                </div> -->
              </div>
          </ng-template>
          
      <!-- HEADER -->
 <!-- HEADER -->
 <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let date of attendanceDate">
        {{ date }} <!-- Display the 'day' -->
      </th>
    </tr>
  </ng-template>

  <!-- BODY -->
  <ng-template pTemplate="body">
      <tr>
      <td *ngFor="let totalhours of workTotalHour">
        <!-- Check if totalhours is null or empty -->
        {{ totalhours + ' Hour' }}
      </td>
    </tr>
  </ng-template>
 <!-- EMPTY MESSAGE -->
 <ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="40" style="text-align: center;">No records found.</td>
    </tr>
</ng-template>
    </p-table>
           
</div>