
<ngx-loading [show]="isLoading"></ngx-loading>

<div class="row">  
</div>

<div class="card">
  <p-table [value]="employeeAttendance"  [rows]="5" [responsiveLayout]="'scroll'">

      <ng-template pTemplate="caption">
        <div class="row">
          <div class="col-md-8 mt-3 d-flex">
            <p-calendar 
            [(ngModel)]="yearDate"
            [iconDisplay]="'input'" 
            [showIcon]="true" 
            inputId="icondisplay"
            placeholder="Select date of leave" 
            dateFormat="dd-MM-yy"
            (ngModelChange)="getFormValue()"
        
          /> 
          </div>

      </div>

      </ng-template>

 
    <ng-template pTemplate="header">
      <tr>
        <th  [style]="{'width': '50%'}">Employee Name</th>
        <th [style]="{'padding-left': '3%'}">Time In</th>
        <th [style]="{'padding-left': '3%'}" >Time Out</th>
        <th [style]="{'padding-left': '2%'}">Leave </th>
        <th [style]="{'padding-left': '2%'}">Absent</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-attendance  let-i="rowIndex">
      <tr>
        <td>{{ attendance.employee.firstName }} {{ attendance.employee.lastName }}</td>
        <td><input id="timeIn"  [(ngModel)]="attendance.timeIn" class="form-control" type="time"    [min]="minTimeIn"  (ngModelChange)="onAttendanceChange(attendance,'timeIn')" [disabled]="attendance.isLeaveApproved || attendance.isAbsent"></td>
        <td><input id="timeOut"  [(ngModel)]="attendance.timeOut" class="form-control" type="time"   [max]="maxTimeOut"  (ngModelChange)="onAttendanceChange(attendance,'timeOut')" [disabled]="!attendance.timeIn || attendance.isLeaveApproved || attendance.isAbsent "  ></td>
        <td [style]="{'text-align': 'center'}"  ><input id="approvedLeave" class="form-check-input" type="checkbox"   (ngModelChange)="onAttendanceChange(attendance,'leave')" [(ngModel)]="attendance.isLeaveApproved" [disabled]="attendance.isAbsent"></td>
        <td [style]="{'text-align': 'center'}"  ><input id="absent" class="form-check-input" type="checkbox"   (ngModelChange)="onAttendanceChange(attendance,'absent')" [(ngModel)]="attendance.isAbsent"></td>
      </tr>
    </ng-template>
  </p-table>

</div>

  <p-toast />
  <p-confirmDialog />