::ng-deep .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #ffffff;
    color: #374151;
    padding: 0px !important;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
  ::ng-deep .p-calendar .p-datepicker {
    min-width: 70%;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
  }